<div class="search-container">
    
    <input (input)="search($event)" class="input-search" type="text" placeholder="Buscar...">

    <section class="movies-section">
        <div *ngFor="let movie of movies">
            <div (click)="goToMovie(movie.id)" class="movie">
                <img [src]="'https://image.tmdb.org/t/p/original/' + movie.poster_path" [alt]="movie.title">
                <div class="movie-info">
                    <p >{{movie.title}}</p>
                </div>
            </div>

        </div>
    </section>


    <nav aria-label="Movie Pagination">
        <ul class="flex items-center -space-x-px h-10 text-base mb-3">
            <li (click)="changePage(this.paginationInfo.currentPage-1)">
                <a class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">
                <span class="sr-only">Previous</span>
                <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
                </a>
            </li>
            <li *ngFor="let item of paginationArray" (click)="changePage(item)">
                <a [class]="item === paginationInfo.currentPage ? 'z-10 flex items-center justify-center px-4 h-10 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700' : 'flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300'">
                    {{ item }}
                </a>
            </li>
            <li (click)="changePage(this.paginationInfo.currentPage+1)">
                <a class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">
                <span class="sr-only">Next</span>
                <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                </a>
            </li>
        </ul>
    </nav>
  
    
</div>
